<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.BumbleBee.model.TbMemberDAO" > 

  <insert id="register" parameterType="TbMemberDTO">
  		insert into tb_member
  		values(#{id},#{pw},#{name},#{age},#{job},#{region},#{tel},sysdate,'N')
  </insert>
  
  <select id="login" parameterType="TbMemberDTO" resultType="TbMemberDTO">
  		select * from tb_member 
  		where mb_id = #{id} and mb_pw = #{pw}
  </select>







  <update id="modify" parameterType="TbMemberDTO">
  		update tb_member
  		set mb_pw = #{pw}, mb_name = #{name}, mb_age = #{age}, mb_job = #{job}, mb_region = #{region}, mb_tel = {tel}
  		where mb_id = #{id}
  </update>
  
  <!-- resulType쪽에 굳이 list를 명시할 필요는 없다.
  	>>> 내가만든 나만의 자료형만 잡아주면 List로 담는 작업은
  		mybatis가 자동으로 수행해준다!
   -->
  <select id="selectAll" resultType="TbMemberDTO">
  	select * from tb_member
  	where mb_type != 'A'
  </select>
  
  <delete id="withdrawal">
  	delete from tb_member
  	where mb_id = #{id}
  </delete>
  
  
</mapper>